<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
  <h1>1986年の巨人軍打順</h1>
    <ol>
      <li>レフト 松本</li>
      <li>セカンド 篠塚</li>
      <li>センター クロマティ</li>
      <li>サード　原</li>
      <li>ライト 吉村</li>
      <li>ファースト 中畑</li>
      <li>ショート 岡崎</li>
      <li>キャッチャー 山倉</li>
      <li>ピッチャー 江川</li>
   </ol>
  </body>

</html>